<a href="https://colab.research.google.com/github/Rachelllle/Spark-Core/blob/main/Session03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark import SparkContext

In [2]:
sc = SparkContext("local", "MonApp")

# Création du RDD depuis la liste de tuples
data = [
    ("Alice", 100),
    ("Bob", 50),
    ("Alice", 25),
    ("Bob", 75),
    ("Charlie", 200)
]

rdd = sc.parallelize(data)

In [7]:
# Somme des montants par utilisateur
rdd_sum = rdd.reduceByKey(lambda a, b: a + b)
print(rdd_sum.collect())

[('Alice', 125), ('Bob', 125), ('Charlie', 200)]

In [8]:
# 2. Trier par clé (ordre alphabétique)
rdd_sorted = rdd_sum.sortByKey()

# Afficher le résultat
print(rdd_sorted.collect())

[('Alice', 125), ('Bob', 125), ('Charlie', 200)]